.voltarButton {
  display: inline-block;
  background-color: #007bff; /* Cor de fundo similar ao botão de eventos */
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.voltarButton:hover {
  background-color: #0056b3;
}

.voluntarioContainer {
  padding: 2rem;
  text-align: center;
  background-color: #f0f2f5;
  border-radius: 8px;
  margin-top: 2rem;
}

.imagem {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 3px solid #007bff;
}

.pageButton {
  background-color: #28a745;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.pageButton:hover {
  background-color: #218838;
}
